.jumbotron{
    background-color: #3e65a0;
}
body{
    background-color: #e8f0fb;
}

.style{
    margin-top: 60px;
    padding-left: 100px;
}

.img{
    width: 200px;
    height: auto;
}

.card-bg{
    background-color: #2b4e84;
}

.btn-style{
    background-color: #2b4e84;
}